/**
 * @name ClearVision V7
 * @author ClearVision Team
 * @version 7.0.0
 * @description Highly customizable theme for BetterDiscord and Vencord.
 * @source https://github.com/ClearVision/ClearVision-v7
 * @website https://clearvision.github.io
 * @invite dHaSxn3
 */
/* IMPORT CSS */
@import url("https://clearvision.github.io/ClearVision-v7/main.css");
@import url("https://clearvision.github.io/ClearVision-v7/betterdiscord.css");
@import url("https://clearvision.github.io/ClearVision-v7/vencord.css");
/* SETTINGS */
:root {
  /* ACCENT COLORS */
  --main-color: #43ff5cd5;
  --hover-color: #1e63b3;
  --success-color: #43b581;
  --danger-color: #982929;
  --url-color: #00eeff;
  /* STATUS COLORS */
  --online-color: #43b581;
  --idle-color: #faa61a;
  --dnd-color: #982929;
  --streaming-color: #593695;
  --offline-color: #808080;
  /* APP BACKGROUND */
  --background-shading-percent: 100%;
  --background-image: url(https://raw.githubusercontent.com/AlphaTriton/ClearVision-v7-personal-modification/refs/heads/master/screenshots/2025-02-22%2021_35_59-BREAK%20ARTS%20III.png);
  --background-attachment: fixed;
  --background-filter: saturate(calc(var(--saturation-factor, 0.3) * 1));
  /* USER POPOUT BACKGROUND */
  --user-popout-image: var(--background-image);
  --user-popout-attachment: var(--background-attachment);
  --user-popout-filter: var(--background-filter);
  /* USER MODAL BACKGROUND */
  --user-modal-image: var(--background-image);
  --user-modal-attachment: var(--background-attachment);
  --user-modal-filter: var(--background-filter);
  /* HOME ICON */
  --home-icon: url(https://clearvision.github.io/icons/discord.svg);
  /* FONTS */
  --main-font: "gg sans", Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
  --code-font: Consolas, "gg mono", "Liberation Mono", Menlo, Courier, monospace;
}

/* THEME SPECIFIC SHADING */
/* LIGHT THEME */
:is(.theme-light, .theme-dark .theme-light) {
  --background-shading: rgba(252, 252, 252, 0.3);
  --card-shading: rgba(252, 252, 252, 0.3);
  --popout-shading: rgba(252, 252, 252, 0.7);
  --modal-shading: rgba(252, 252, 252, 0.5);
  --input-shading: rgba(0, 0, 0, 0.3);
  --normal-text: #36363c;
  --muted-text: #75757e;
}

/* ASH THEME */
:is(.theme-dark, .theme-light .theme-dark) {
  --background-shading: rgba(0, 0, 0, 0.1);
  --card-shading: rgba(0, 0, 0, 0.2);
  --popout-shading: rgba(0, 0, 0, 0.6);
  --modal-shading: rgba(0, 0, 0, 0.4);
  --input-shading: rgba(255, 255, 255, 0.05);
  --normal-text: #d8d8db;
  --muted-text: #aeaeb4;
}

/* DARK THEME */
:is(.theme-darker, .theme-light .theme-darker) {
  --background-shading: rgba(0, 0, 0, 0.1);
  --card-shading: rgba(0, 0, 0, 0.3);
  --popout-shading: rgba(0, 0, 0, 0.7);
  --modal-shading: rgba(0, 0, 0, 0.5);
  --input-shading: rgba(255, 255, 255, 0.05);
  --normal-text: #fbfbfb;
  --muted-text: #94949c;
}

/* ONYX THEME */
:is(.theme-midnight, .theme-light .theme-midnight) {
  --background-shading: rgba(0, 0, 0, 0.1);
  --card-shading: rgba(0, 0, 0, 0.3);
  --popout-shading: rgba(0, 0, 0, 0.8);
  --modal-shading: rgba(0, 0, 0, 0.6);
  --input-shading: rgba(255, 255, 255, 0.05);
  --normal-text: rgb(255, 255, 255);
  --muted-text: rgb(219, 219, 219);

/*   modified channel and friendlist text colors to be readable */
  --channels-default: #cecece;
  --text-tertiary: #cecece;
  --icon-default: rgba(255, 255, 255, 1);
  --icon-tertiary: rgba(255, 255, 255, 1);
}

/* ADD ADDITIONAL CSS BELOW HERE */

/* Make Channel and Server sidebars the same darker shade to match previous modification */
.visual-refresh .privateChannels__35e86 { /* Sidebar Friend, GC List */
    background: hsl(from var(--hsl-background-shading) h s l/calc(var(--background-shading-percent) * 0.47));
}

.visual-refresh .guilds_c48ade { /* Sidebar Servers List */
    background: hsl(from var(--hsl-background-shading) h s l/calc(var(--background-shading-percent) * 0.47));
}

.visual-refresh .container__2637a { /*Sidebar Channels List */
    background: hsl(from var(--hsl-background-shading) h s l/calc(var(--background-shading-percent) * 0.47));
}

.visual-refresh .panels_c48ade { /* User, Mute, Deafen, Settings Panel */
    background: hsl(from var(--hsl-background-shading) h s l/calc(var(--background-shading-percent) * 0.47));
}

.visual-refresh .sidebarList_c48ade { /* Necessary override because the rounded border is kept in the sidebar for god knows what */
    border-top-left-radius: 0px;
}

.backdrop__7833s.withLayer__78332 { /* Necessary to decrease shading for expanded images */
  background: rgba(0, 0, 0, 0.2) !important;
}

.visual-refresh .sidebarRegionScroller__23e6b { /* Settings Sidebar */
    background: hsl(from var(--hsl-background-shading) h s l / calc(var(--background-shading-percent)* 0.47));
}

.contentRegion__23e6b { /* Settings Panel */
    background: hsl(from var(--hsl-background-shading) h s l / calc(var(--background-shading-percent)* 0.3));
}

.visual-refresh .peopleColumn__133bf { /* Expanded Friendslist */
    background: hsl(from var(--hsl-background-shading) h s l / calc(var(--background-shading-percent)* 0.15));
}

:is(.theme-dark, .theme-light) .themed__9293f { /* Channel Name, Pins, Threads, Search Bar Panel */
    background: hsl(from var(--hsl-background-shading) h s l/calc(var(--background-shading-percent) * 0.15));
}

.visual-refresh :is(.chatContent_f75fb0,.scroller__28a87) { /* Overrides Chat Content Shading */
    background: hsl(from var(--hsl-background-shading) h s l / calc(var(--background-shading-percent)* 0.15));
    border-radius: 0;
    border: none;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 8px;
}

/* Hide Header/Top Bar */
.visual-refresh {
  --custom-app-top-bar-height: 0; /* removes hardcoded space to allow lower elements to ascend */
}

.bar_c38106 { /* Hides Header/Top Bar elements */
  display: none;
}

/* Color Matching */
.unreadImportant__2ea32 { /* Channels Unread */
  background-color: var(--main-color) !important;
}

.item__58105 { /* Servers Unread */
  background-color: var(--main-color) !important;
}

.numberBadge__2b1f5.base__2b1f5.eyebrow__2b1f5.baseShapeRound__2b1f5 {
  background-color: var(--main-color) !important;
}
